body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  .Down-dashboard{
    width: 95%;
    margin: auto;
    margin-top: 20px; /* Adjust the value as needed */
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding: 10px;
  }
  
  .headerDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c7d5e3;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    height: 75px;
  }
  

  .date-picker{
    width: 250px;  
    height: 38px; 
    font-size: 16px; 
    padding: 10px;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .filter-item {
    display: flex;
    flex-direction: column;
  }
  
  
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background: #f0f0f0;
    font-weight: bold;
  }
  

  /* Blur Effect */
.content-wrapper.blurred {
  filter: blur(5px); /* Apply blur effect */
  pointer-events: none; /* Prevent user interaction */
  opacity: 0.6; /* Slightly dim the background */
}

/* Loader Overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  backdrop-filter: blur(2px); /* Apply blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays everything */
}

/* Loader Spinner */
.windows-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid  #16155e;;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading Text */
.Loading {
  font-size: 16x;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}
