/* Container Styles */
.containers {
  width: 95%;
  margin: auto;
  margin-top: 20px; /* Adjust the value as needed */
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  padding: 10px;
  }
  
  /* Header */

  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c7d5e3;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
  }
  

  
  .search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15%;
  }
  .search-container-se {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -35px;
   
    
  }
  .search-button-se {
    padding: 8px;
   
    background-color: #16155e;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button-se:hover {
    background: #bbb;
  }

  /* Table Styles */
  .tables-container {
    margin-top: 15px;
    background: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Left Column */
  .field {
    background: #ddd;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    width: 50%;
  }
  
  /* Right Column */
  .value {
    padding: 12px;
    text-align: left;
    width: 50%;
    background: white;
    border-bottom: 1px solid #ddd;
  }
  
  tr:last-child .value {
    border-bottom: none;
  }
  .setsubmitbtn1
  {
    width: 72px;
    margin-top: 40px;
    cursor: pointer;
    background-color: #ccc;
    color: white;
    height: 44px;
    /* margin-left: 3px; */
    border-radius: 5px;
}

  .setsubmitbtn1:hover {
    background: #16155e;
  }
  