
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* margin-left: 255px; */
    
  }
  
  .tooltip-icon {
    font-size: 16px;
   
    user-select: none;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #f3eded;
    color: black;
    text-align: left;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    font-size: 13px;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  