  .dateboard {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* width: 95%; */
      margin: auto;


      /* margin-top: 20px;  */


  }

  .dateboard div {
      display: flex;
      flex-wrap: wrap;
      align-items: normal;
      padding: 10px;
  }


  

  /* @media (max-width: 768px) {
      .dateboard {
          flex-direction: column;
          gap: 15px;
      }

      select,
      .datepic {
          width: 100%;
      }
  } */

  .prev-page {

      flex-wrap: wrap;

      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12),
          0 10px 20px rgba(0, 0, 0, 0.15);

      margin-top: 30px;
      width: 73rem;
      height: 25rem;

  }

  .view {
    margin-left: 10px;
    padding: 3px;
    background: #16155e;
    border: none;
    width: 4rem;
    /* height: 1.6rem; */
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 45px;

  }

  .view:hover {
      background: #bbb;
  }

  .word {
      left: 3.5rem;
      font-size: 16px;
      position: relative;
  }

  .word1 {
      left: 5rem;
      font-size: 16px;
      position: relative;
  }

  .date-page1 {
      justify-content: space-between;
      background: white;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.15);
      gap: 10px;
      /* flex-wrap: wrap; */
      height: 95px;
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 1rem;

  }

  .predate {
      border-radius: 5px;
      width: 140px;
      height: 25px;
      margin-top: 3rem;
      margin-left: -4rem;
  }

  .datepic1 {
      width: 140px;
      height: 25px;
      border: 1px solid;
      margin-top: 1.8rem;
      margin-left: -5rem;
  }






  /* Table Container */
.table-containers1 {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  }
  
  /* Table Styling */
  .custom-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 16px;
  }
  
  /* Table Header */
  .custom-table thead {
    background: #f4f4f4;
    border-bottom: 2px solid #ddd;
  }
  
  .custom-table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Table Rows */
  .custom-table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Table Data */
  .custom-table td {
    padding: 4px;
   
  }
  
  /* Clickable File Link */
  .file-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .file-link:hover {
    color: darkblue;
  }


/* next page button */
  .pagination {
    display: flex;
    justify-content: center;
   
    margin-top: -6.5rem;
    margin-left: 650px;
  }
  
  .pagination-button {
    padding: 3px;
    background: #16155e;
    border: none;
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 36px;
    color: white;
    cursor: pointer;
    
  }
  .pagination-button:hover{
    background: #bbb;
  }
  
  .pagination-button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  
  .page-info {
    /* font-weight: bold; */
    align-items: center;
    margin-top: 2.5rem;
  }


  .audio-controls {
    width: 116%;
    border-radius: 30px;
    background-color: #f4f4f4;
    outline: none;
  }
  
  /* .show-more-btn {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    margin-left: 5px;
  }
  .show-more-btn:hover {
    text-decoration: underline;
  } */
  
  /* .custom-table {
    width: 100%;
    
  } */
  
  /* .custom-table th,
  .custom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } */
  
  .transcript-short {
    max-height: 97px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    width: 100%;
    text-align: start;
    
  }
  
  .show-more {
    background: none !important;
    border: none !important;
    color: blue !important;
    cursor: pointer !important;
    margin-top: -10px !important;
    font-size: 13px!important;
  }
  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 100px;
    left: 400px;
    width: 50%;
    height: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .modal-content {
    /* background: white; */
    /* padding: 5px;
    border-radius: 10px;
    width: 50%; */
    max-height: 70%;
    overflow-y: auto;
    font-size: 13px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .close-button {
    position: absolute;
    top: -14px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }



  .edit-pencil {
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-left: 554px;
    margin-top: -14px;
    
  }
  
  .edit-pencil:hover {
    color: #0056b3;
  }
  .transcript-textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
  }
    

  .down-all{
    background: #bbb;
    width: 190px;
    border-radius: 10px;
  }
.down-all:hover{
  background-color: #16155e;
}
